<launch>

    <!-- PEPPER_IP_1: 10.0.1.207 -->
    <!-- PEPPER_IP_2: 10.0.1.230 -->

    <!-- <include file="$(find pepper_bringup)/launch/pepper_full_py.launch">
        <arg name="nao_ip" value="10.0.1.207" />
    </include> -->
    
    <arg name="pepper_id"   default="1" />

    <group if="$(eval arg('pepper_id') == 1)">
         <param name="pip"  value="10.0.1.207" />
    </group>
    <group if="$(eval arg('pepper_id') == 2)">
         <param name="pip"  value="10.0.1.230" />
    </group>

    <param name="pport"     value="$(optenv NAO_PORT 9559)" />

    <param name="take_picture_service"  value="camera_node/take_picture" />
    <param name="detector_service"      value="detector_node/detect_image" />
    <param name="speaker_service"       value="speaker_node/say_detections" />

    <node name="camera"     pkg="pepper_pkg"        type="camera_node"     output="screen" />
    <node name="detector"   pkg="pepper_pkg"        type="detector_node"   output="screen" />
    <node name="head"       pkg="pepper_pkg"        type="head_node"       output="screen" />
    <node name="speaker"    pkg="pepper_pkg"        type="speaker_node"    output="screen" />

</launch>
