<launch>

    <!-- PEPPER_IP_1: 10.0.1.207 -->
    <!-- PEPPER_IP_2: 10.0.1.230 -->

    <include file="$(find pepper_bringup)/launch/pepper_full.launch">
        <arg name="nao_ip" value="10.0.1.230"/>
    </include>

    <param name="look_at_service" value="look_at" />
    <param name="take_picture_topic" value="/take_picture" />
    <param name="image_topic" value="/raw_image" />
    <param name="object_list_topic" value="/object_list" />

    <node name="controller" pkg="pepper_pkg" type="master_node" output="screen" />
    <node name="camera" pkg="pepper_pkg" type="camera_node" output="screen" />
    <node name="detector" pkg="pepper_pkg" type="detector_node" output="screen" />
    <node name="head" pkg="pepper_pkg" type="head_node" output="screen" />
    <node name="speaker" pkg="pepper_pkg" type="speaker_node" output="screen" />

</launch>