# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\v9pet\Documents\UniSa\Magistrale\Anno_2\I_semestre\Cognitive Robotics\Progetti\MidtermProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
